/*Afectan tanto al php como al HTML */
h1{font-size: 36px; color: orange; font-family: Arial, Helvetica, sans-serif; text-align: center}
h2{font-size: 24px; color: #444444; font-family: Arial, Helvetica, sans-serif; text-align: center}
legend{font-size: 16px; color: #289EEC; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic; background: white}
fieldset{background-color: orange}
h6{font-size: 12px; color: black; font-family: Arial, Helvetica, sans-serif}
h3{font-size: 16px; color: black; font-family: Arial, Helvetica, sans-serif}
u{font-size: 12px; color: black; font-family: Arial, Helvetica, sans-serif}
textarea{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #444444}
table{font-size: 12px; color: black; font-family: Arial, Helvetica, sans-serif}
/* Los siguientes elementos afectan sólo al php */
th{background-color: orange; opacity: 0.9; width: 200px; text-align: right}
tr{background-color: white; opacity: 0.9}